body {
    margin: 0;
    padding: 5vw 0;
    background-color: #FAFAFA;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 75vw;
    margin: auto;
    color: #707070;
}



.lineSeparador {
    background-color: #7B1ACE;
    height: 2px;
    width: 100%;
    margin: 1.56vw 0;
}

.planContainer {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    padding: 2.5vw 3.9vw;
    width: 48.72vw;
}

.planContainer h3 {
    font-size: 1.40vw;
}

.contactarContainer {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    padding: 2.5vw 2.6vw;
    width: 25.65vw;
}

.planStarterContainer {
    border: 1px solid #E6E2E2;
    display: flex;
}

.planStarterContainer div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.97vw 2.08vw;
}

.planStarterBox {
    border-right: 1px solid #E6E2E2;
    width: 40%;
    align-items: center;
}

.plantStarterIncluye {
    width: 60%;
    align-items: flex-start;
}

.titlePlanStarter {
    font-size: 1.40vw;
}

.priceStarterPlan {
    font-size: 1.30vw;
}

.priceStarterPlan span {
    font-size: 2.08vw;
    font-weight: bold;
}

.plantStarterIncluye p {
    font-size: 1.14vw;
    line-height: 1;
}


.mencionesBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.barraRango {
    width: 100%;
}

.mencionesBox {
    margin: 1.77vw 0;
}

.mencionesBox p {
    width: 21.61vw;
}

.mencionesNumber {
    font-size: 1.30vw;
    text-align: center;
    width: 14.21vw;
    padding: 1.09vw;
    border: 1px solid #E6E2E2;
    border-radius: 0.989vw;
}

.redesContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.redBox {
    display: flex;
    align-items: center;
}

.redBox img {
    width: 3.22vw;
    margin-right: 0.52vw;
}
.redBox p{
    max-width: 23.125vw;
}

.redSeleccionada {
    font-size: 0.729vw;
    text-align: center;
    width: 4.6vw;
    padding: 0.52vw;
    border: 1px solid #E6E2E2;
    border-radius: 0.52vw;
    margin-left: 0.93vw;
}

.switchSelectorBox {
    display: flex;
    align-items: center;
}






/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 5.18vw;
    height: 2.31vw;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slideSwitch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E6E2E2;
    -webkit-transition: .4s;
    transition: .4s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.93vw;
}

.slideSwitch:before {
    position: absolute;
    content: "";
    height: 2.03vw;
    width: 2.03vw;
    left: 0.31vw;
    bottom: 0.14vw;
    background-color: #3C3C3C;
    -webkit-transition: .4s;
    transition: .4s;
}


input:checked+.slideSwitch:before {
    -webkit-transform: translateX(2.53vw);
    -ms-transform: translateX(2.53vw);
    transform: translateX(2.53vw);
    background-color: #A573DD;
}

/* Rounded sliders */
.slideSwitch.round {
    border-radius: 1.19vw;
}

.slideSwitch.round:before {
    border-radius: 50%;
}