body {
    margin: 0;
    padding: 5vw 0;
    background-color: #FAFAFA;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 75vw;
    margin: auto;
    color: #707070;
}



.lineSeparador {
    background-color: #7B1ACE;
    height: 2px;
    width: 100%;
    margin: 1.56vw 0;
}

.planContainer {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    padding: 2.5vw 3.9vw;
    width: 48.72vw;
}

.planContainer h3 {
    font-size: 1.40vw;
}

.contactarContainer {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    padding: 2.5vw 2.6vw 5vw;
    width: 25.65vw;
}

.planStarterContainer {
    border: 1px solid #E6E2E2;
    display: flex;
}

.planStarterContainer div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.97vw 2.08vw;
}

.planStarterBox {
    border-right: 1px solid #E6E2E2;
    width: 40%;
    align-items: center;
}

.plantStarterIncluye {
    width: 60%;
    align-items: flex-start;
}

.titlePlanStarter {
    font-size: 1.40vw;
}

.priceStarterPlan {
    font-size: 1.30vw;
}

.priceStarterPlan span {
    font-size: 2.08vw;
    font-weight: bold;
}

.plantStarterIncluye p {
    font-size: 1.14vw;
    line-height: 1;
}


.mencionesBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.barraRango {
    width: 100%;
}


.barraRango {
    -webkit-appearance: none;
    width: 100%;
    height: 0.26vw;
    border-radius: 0.26vw;
    border: 1px solid #707070;
    background: transparent;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.barraRango:hover {
    opacity: 1;
}

.barraRango::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.82vw;
    height: 1.82vw;
    border-radius: 50%;
    background: #A573DD;
    cursor: pointer;
}

.barraRango::-moz-range-thumb {
    width: 1.82vw;
    height: 1.82vw;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}


.rangoMencionesValores {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.04vw;
    font-size: 1.04vw;
}


.mencionesBox {
    margin: 1.77vw 0;
}

.mencionesBox p {
    width: 21.61vw;
}

.mencionesNumber {
    font-size: 1.30vw;
    text-align: center;
    width: 14.21vw;
    padding: 1.09vw;
    border: 1px solid #E6E2E2;
    border-radius: 0.989vw;
}

.redesContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.52vw 0;
}

.redBox {
    display: flex;
    align-items: center;
}

.redBox img {
    width: 3.22vw;
    margin-right: 0.52vw;
}

.redBox p {
    max-width: 23.125vw;
}

.redSeleccionada {
    font-size: 0.729vw;
    text-align: center;
    width: 4.6vw;
    padding: 0.52vw;
    border: 1px solid #E6E2E2;
    border-radius: 0.52vw;
    margin-left: 0.93vw;
}

.redOn, .redFull {
    display: none;
}

.switchSelectorBox {
    display: flex;
    align-items: center;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 5.18vw;
    height: 2.31vw;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slideSwitch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E6E2E2;
    -webkit-transition: .4s;
    transition: .4s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.93vw;
}

.slideSwitch:before {
    position: absolute;
    content: "";
    height: 2.03vw;
    width: 2.03vw;
    left: 0.31vw;
    bottom: 0.14vw;
    background-color: #3C3C3C;
    -webkit-transition: .4s;
    transition: .4s;
}


input:checked+.slideSwitch:before {
    -webkit-transform: translateX(2.53vw);
    -ms-transform: translateX(2.53vw);
    transform: translateX(2.53vw);
    background-color: #A573DD;
}

/* Rounded sliders */
.slideSwitch.round {
    border-radius: 1.19vw;
}

.slideSwitch.round:before {
    border-radius: 50%;
}


.complementosBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.87vw;
}

.btnPlusAndLess {
    color: #A573DD;
    font-size: 2.08vw;
}

.complementosCards {
    display: none;
}

.complementosCardsActive {
    display: block;
}

.complementoCard {
    background-color: #fff;
    display: flex;
    padding: 0.83vw;
    margin: 0.52vw 0;
    border: 1px solid #E6E2E2;
}

.complementoCard input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin: 0 1.04vw 0 0;
    width: 1.265vw;
    height: 1.265vw;
    border: 1px solid #E6E2E2;
}

.complementoCard input:checked {
    background-color: #A573DD;
}

.complementoInfo {
    max-width: 33.385vw;
}

.complementoInfo h4 {
    font-size: 0.9375vw;
}

.complementoInfo p {
    font-size: 1.04vw;
}

.complementoInfo p:nth-child(2) {
    margin: 0.52vw 0 1.04vw;
}

.otrosComplementosBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.87vw;
}

.otrosComplementosContainer {
    display: none;
}

.complementosExtras {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.52vw 0;
}

.complementosExtrasActive {
    display: block;
}

.complementoIconBox {
    display: flex;
    align-items: center;
}

.complementoIconBox img {
    width: 3.22vw;
    margin-right: 0.52vw;
}

.complementoIconBox p {
    max-width: 23vw;
    font-size: 0.93vw;
}

.incrementComponents {
    display: flex;
    align-items: center;
}

.otroComplementoPrice {
    font-size: 0.729vw;
    text-align: center;
    width: 4.6vw;
    padding: 0.52vw;
    border: 1px solid #E6E2E2;
    border-radius: 0.52vw;
    margin-left: 0.93vw;
}

.incrementBox {
    background-color: #F4F4F4;
    border-radius: 1.19vw;
    font-size: .9375vw;
    width: 5.625vw;
    padding: 0.52vw 0;
    text-align: center;
}

.incrementBox .ICValue {
    margin: 0 0.52vw;
}

.incrementBox button {
    font-size: .9375vw;
    border: 0;
    background-color: transparent;
}

.botonesPago {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.35vw;
    position: relative;
}

.botonesPago a {
    background-color: #F4F4F4;
    font-size: 0.9375vw;
    border: 1px solid transparent;
    border-radius: 1.197vw;
    width: 100%;
    padding: 0.52vw;
    position: relative;
    z-index: 1;
    text-align: center;
}

.botonesPago .pagoMensual {
    margin-right: -1vw;
}

.botonesPago .pagoAnual {
    margin-left: -1vw;
}

.botonesPago .pagoSelected {
    border: 1px solid #A573DD;
    background-color: #fff;
    color: #7B1ACE;
    z-index: 2;
}

.pricePlan {
    font-size: 2.60vw;
    text-align: center;
}

.pricePlan .ffRegular {
    font-size: 1.3vw;
}

.pricePlanAnual {
    display: none;
    font-size: 2.60vw;
    text-align: center;
}

.pricePlanAnual .ffRegular {
    font-size: 1.3vw;
}
.fsTotalpriceFull {
    font-size: 2vw;
}
.totalPriceFull {
    text-decoration: line-through;
}
.facturacionText {
    text-align: center;
    font-size: 0.93vw;
}

.feeInformation {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.729vw;
}

.feeInformation img {
    margin-right: 0.2vw;
}

.complementoAgregado {
    background-color: #F4F4F4;
    padding: 0.78vw 0.78vw 0.78vw 1.30vw;
    margin: 0.52vw 0;
    position: relative;
}

.fullRedPrice .cardRedPrice, .cardRedHidePrice{
    display: none;
}

.fullRedPrice .cardRedHidePrice{
    display: block;
}

.complementoAgregado h4 {
    font-size: 0.9375vw;
    margin-bottom: 0.2vw;
}

.complementoAgregado p {
    font-size: 0.78vw;
}

.botonQuitarComplemento {
    font-size: 0.9375vw;
    position: absolute;
    top: 0.52vw;
    right: 0.52vw;
    border: 0;
    padding: 0;
    cursor: pointer;
}

.inputStyle {
    background-color: transparent;
    border: 1px solid #7B0ECE;
    border-radius: 2.08vw;
    padding: 0.52vw 1.04vw;
    margin: 0.52vw 0;
    width: 100%;
    font-size: 1.04vw;
    color: #606060;
}

.inputCheckContainer {
    display: flex;
    align-items: center;
}

.inputCheckContainer input {
    width: 1.25vw;
    height: 1.25vw;
    margin: 0 0.52vw 0 0;
    border-radius: 0.52vw;
}

.inputCheckContainer p {
    font-size: 1.04vw;
    width: fit-content;
}

.btnContactar {
    background-color: #A573DD;
    color: #fff;
    display: block;
    font-size: 1.145vw;
    width: 16.19vw;
    padding: 0.989vw;
    margin: 2.08vw auto 0;
    border-radius: 1.56vw;
    border: 0;
    cursor: pointer;
}



@media (max-width: 768px) {
    form {
        flex-direction: column;
        max-width: 90vw;
    }

    .planContainer {
        width: 100%;
    }

    .contactarContainer {
        width: 100%;
    }

    .lineSeparador {
        margin: 5vw 0;
    }

    .planStarterContainer {
        flex-direction: column;
    }

    .planStarterBox {
        width: 50%;
    }

    .planStarterContainer div {
        width: 100%;
        align-items: center;
    }

    .planContainer h3 {
        font-size: 6.66vw;
    }

    .priceStarterPlan {
        font-size: 5.33vw;
    }

    .plantStarterIncluye {
        width: 50%;
    }

    .priceStarterPlan span {
        font-size: 5.33vw;
    }

    .plantStarterIncluye p {
        font-size: 4.8vw;
    }

    .mencionesBox {
        margin: 2.5vw 0;
        flex-direction: column;
    }

    .mencionesBox p {
        width: 100%;
        font-size: 4.8vw;
    }

    .mencionesNumber {
        margin-top: 2.5vw;
        width: 100%;
        font-size: 5.3vw;
        border-radius: 1.989vw;
    }

    .barraRango {
        height: 2.66vw;
        border-radius: 2.26vw;
    }

    .barraRango::-webkit-slider-thumb {
        width: 6.66vw;
        height: 6.66vw;
    }

    .barraRango::-moz-range-thumb {
        width: 6.66vw;
        height: 6.66vw;
    }

    .rangoMencionesValores {
        font-size: 4.8vw;
    }

    .redesContainer {
        flex-direction: column;
        margin: 5vw 0;
    }

    .redBox img {
        width: 11vw;
        margin-right: 2vw;
    }

    .redBox p {
        max-width: 100%;
    }

    .switchSelectorBox {
        width: 100%;
        margin-top: 2.5vw;
        justify-content: space-around;
    }

    .switch {
        width: 26vw;
        height: 10vw;
    }

    .slideSwitch {
        font-size: 4.26vw;
    }

    .slideSwitch:before {
        width: 9vw;
        height: 9vw;
        left: 1.31vw;
        bottom: 0.44vw;
    }

    .slideSwitch.round {
        border-radius: 6.19vw;
    }

    input:checked+.slideSwitch:before {
        -webkit-transform: translateX(13.6vw);
        -ms-transform: translateX(13.6vw);
        transform: translateX(13.6vw);
    }

    .redSeleccionada {
        font-size: 4.26vw;
        width: 26vw;
        border-radius: 1.62vw;
    }

    .btnPlusAndLess {
        font-size: 6.66vw;
    }

    .complementosBox {
        margin-bottom: 5vw;
    }

    .complementoCard {
        margin: 2.5vw 0;
        padding: 1.5vw;
    }

    .complementoCard input {
        width: 5vw;
        height: 5vw;
    }

    .complementoInfo {
        max-width: 90%;
    }

    .complementoInfo h4 {
        font-size: 4.8vw;
    }

    .complementoInfo p {
        font-size: 4.26vw;
    }

    .complementoInfo p:nth-child(2) {
        margin: 1vw 0 2vw;
    }

    .otrosComplementosBox {
        margin-bottom: 5vw;
    }

    .complementosExtras {
        margin: 5vw 0;
        flex-direction: column;
    }

    .incrementComponents {
        width: 100%;
        justify-content: space-around;
        margin-top: 2.5vw;
    }

    .complementoIconBox img {
        width: 11vw;
        margin-right: 2vw;
    }

    .complementoIconBox p {
        max-width: 100%;
        font-size: 4.26vw;
    }

    .incrementBox {
        width: 26vw;
        font-size: 4.26vw;
        border-radius: 5vw;
        padding: 1.5vw 0;
    }

    .incrementBox button {
        font-size: 4.26vw;
    }

    .otroComplementoPrice {
        font-size: 4.26vw;
        width: 26vw;
        border-radius: 1.62vw;
    }

    .botonesPago {
        margin-bottom: 2.5vw;
    }

    .botonesPago a {
        font-size: 5.33vw;
        border-radius: 4vw;
        padding: 2vw 1.5vw;
    }

    .botonesPago .pagoMensual {
        margin-right: -2vw;
    }

    .botonesPago .pagoAnual {
        margin-left: -2vw;
    }

    .pricePlan {
        font-size: 8vw;
    }

    .pricePlan .ffRegular {
        font-size: 6.66vw;
    }

    .facturacionText {
        font-size: 5.3vw;
    }

    .feeInformation {
        font-size: 3.78vw;
    }

    .feeInformation img {
        margin-right: 1vw;
    }

    .complementoAgregado {
        margin: 2.5vw 0;
        padding: 2.5vw 5vw 2.5vw 3.5vw;
    }

    .complementoAgregado h4 {
        font-size: 4.8vw;
    }

    .complementoAgregado p {
        font-size: 4.26vw;
    }

    .botonQuitarComplemento {
        font-size: 4.8vw;
        top: 1vw;
        right: 1vw;
    }

    .inputStyle {
        font-size: 4.8vw;
        border-radius: 5vw;
        padding: 2vw;
        margin: 2.5vw 0;
    }

    .inputCheckContainer p {
        font-size: 4.2vw;
    }

    .inputCheckContainer input {
        width: 5vw;
        height: 5vw;
        margin: 0 2vw 0 0;
    }

    .btnContactar {
        font-size: 5.3vw;
        width: 65vw;
        padding: 1.5vw 2vw;
        border-radius: 5vw;
        margin: 5vw auto 0;
    }
}